/* ----------- iPhone 5 and 5S ----------- */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .media-object {
    width: 50px;
  }
}

/* ----------- iPhone 6 ----------- */

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .media-object {
    width: 60px;
  }
}

/* ----------- iPhone 6+ ----------- */

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .media-object {
    width: 70px;
  }
}
